{% extends "base.html" %}

{% block content %}
<h1>
  Перелік підрозділів
  <a href="{% url 'oblik:units_create' %}"
     class="btn btn-sm btn-success float-right">
    +
  </a>
</h1>

{% if units_list %}
<ul class="list-group">
  {% for unit in units_list %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    {{ unit.name }}
    <div>
      <a href="{% url 'oblik:units_update' unit.pk %}"
         class="btn btn-sm btn-outline-primary">
        ✏️
      </a>
      <a href="{% url 'oblik:units_delete' unit.pk %}"
         class="btn btn-sm btn-outline-danger ml-1">
        🗑
      </a>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>Нема підрозділів для відображення</p>
{% endif %}
{% endblock %}
